/*nav section*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    
}
nav{
    cursor: pointer;
    width: 100%;
height: 70px;
display: flex;
justify-content: space-around;
text-align: left;
& ul{
    display: flex;
    & li{
        padding: 0 20px;
        margin-top: 20px;
        font-size: 21px;
        font-weight: 500;
  }
}
& button{
    padding: 5px 16px;
    margin: 7px;
    cursor: pointer;
 

}
.b1{
    border: 1cap;
    border-radius: 200px;
 background-color: rgb(236, 238, 238);
 width: 114px;
 height: 50px;
 font-size: 20px;
}
.b2{
    border: 0cap;
    color: azure;
    border-radius: 200px;
 background-color: rgb(14, 17, 17);
 font-size: 25px;
 width: 176px;
 height: 50px;
}
.b3{
    background-color:white;
    border: 0cap;
    height: 56px;
    width: 56px;
    font-size: 30px;
}
.d1{
    font-size:40px ;
    font-weight: bold;
    margin-top: 10px;
}
}



.bc{
    img{
        width: 100%;
    }
    object-fit: cover;
    position: relative;
}

form{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: white;
   width: 60%;
   height: 40%;
   border-radius: 10px;
   text-align: center;
   font-size:40px ;  
& select{
    font-size: 40px;
   margin: 5px;
   border-radius: 10px;
   padding:  5px 80px 8px 20px;
   border: none;
   margin-top: 90px;
   background-color: #ECECEC;
   ;
   

}
& input{
    font-size: 40px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 20px;
    background-color:rgb(240, 240, 240);
    text-align: center; 
    border: none;  
    width: 760px;
    margin-top: 30px;
}
.Find{
    font-size: 40px;
    margin: 5px;
    border-radius: 200px;
    padding: 5px 20px;
    width: 280px;
    color: black;
    background-color:#00EBC7;
}

}
.Why{width: Hug (183px)px;
    height: Hug (49px)px;
    bottom: 100px;
    left: 45%;
   background-color: transparent;
   border-radius: 200px;
    position:absolute;
    font-size: 40px;
    padding: 10px 50px 0px;
    color: white;
    & hr{
        color: white;
        position:relative;
      margin-bottom: 10px;
       
    }
}
.section3{
    & div{
        width: 100%;
        height: 500px;
        background-color:#FDE24F;
        & p{
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            padding-top: 100px;
        }
        .img{
             width: 80%;
            padding: 80px 130px ;
            margin:0 180px;
            
        }
    }
}
.features-section{
    width: 100%;
    height: 680px;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;


    & h1{
        font-size: 34px;
        width: 100%;
        height: 41px;
        font-weight: 500;
        line-height: 41.15px;
        margin: 85px 63px;
    }
    .feature-div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        margin-right: 100px;


        & div{
            width: 300px;
            height: 279px;
            text-align: center;

            & img{
                position: relative;
                left: 55px;
                top: 60px;
            }
            & h1{
                font-size: 24px;
                font-weight: 500;

            }
            & p{
                color: #00000077;
                position: relative;
                bottom: 51px;
                left: 49px;
                width: 324px;
                font-size: 20px;
                font-weight: 400;
            }
            & a{
                color: black;
                position: relative;
                bottom: 13px;
                left: 60px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .feature-btn{
            width: 227px;
            height: 49px;
            border: 1px solid black;
            border-radius: 30px;
            position: relative;
            top: 180px;
            left: 665px;
            font-size: 22px;
            font-weight: 500;
            background-color: transparent;
        }
      }

    .first-hor{
        width:200px;
        height: 1px;
        background-color: #000000;
        position: relative;
        bottom: 141px;
        left: 550px;
    }
    .second-hor{
        width:200px;
        height: 1px;
        background-color: #000000;
        position: relative;
        bottom: 141px;
        left: 1150px;
    }
}
/* buy-sell */
.buy-sell{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    left: 115px;
    width: 100%;
    height: auto;


    .buy{
        width: 756px;
        height: 700px;
        background-color: #FFFFFF;
        margin-left: 60px;
        margin-top: 60px;
        justify-content: flex-start;
        padding: 10px;


        & h1{
            font-size: 34px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        & div{
            border: 1px solid #000000;
            border-radius: 15px;
            margin-top: 30px;
            width: 650px;
            height: 100px;


            & img{
                margin-left: 20px;
                position: relative;
                top: 10px;
                height: 80px;
                width: 80px;
            

            }

            & p{
                display: inline;
                padding-left: 50px;
                position: relative;
                bottom: 17px;
                font-size: 20px;
                font-weight: 500;
            }

        }
        & button{
            width: 232px;
            height: 49px;
            border-radius: 15px;
            border: none;
            outline: none;
            background-color: #000000;
            color: #FFFFFF;
            position: relative;
            left: 178px;
            top: 80px;
            font-size: 22px;
            font-weight: 500;

        }
    }
    .sell{
        width: 756px;
        height: 700px;
        background-color: #FFFFFF;
        margin-left: 60px;
        margin-top: 60px;
        justify-content: flex-start;
        padding: 10px;


        & h1{
            font-size: 34px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        & div{
            border: 1px solid #000000;
            border-radius: 15px;
            margin-top: 30px;
            width: 650px;
            height: 100px;


            & img{
                margin-left: 20px;
                position: relative;
                top: 10px;
                height: 80px;
                width: 80px;

            }

            & p{
                display: inline;
                padding-left: 50px;
                position: relative;
                bottom: 17px;
                font-size: 20px;
                font-weight: 500;

            }

        }
        & button{
            width: 232px;
            height: 49px;
            border-radius: 15px;
            border: none;
            outline: none;
            background-color: #000000;
            color: #FFFFFF;
            position: relative;
            left: 178px;
            top: 80px;
            font-size: 22px;
            font-weight: 500;
        }
    }
    .for-vart{
        width: 1px;
        height: 760px;
        background-color: #000000;
        position: absolute;
        left: 46%;
    }

}

.sign-up-section{
    width: 100%;
    height: 600px;
    background-color: #CFBAFF;
    text-align: center;
    border-top: 1px solid #000000;

    & h1{
        position: relative;
        top:200px;
        left: 300px;
        width: 1300px;
        height: 182px;
        font-size: 72px;
        font-weight: 500;
        line-height: 90.77px;
    }
    & button{
        position: relative;
        top: 300px;
        width: 265px;
        height: 69px;
        border: none;
        outline: none;
        border-radius: 30px;
        background-color: #000000;
        font-size: 32px;
        font-weight: 500;
        color: #FFFFFF;

    }
}
.spacio-section{
    width: 100%;
    height: 505px;
    display: grid;
    grid-template-columns: repeat(4,350px);
    background-color: #000000;
    color: #FFFFFF;
    border-bottom: 1px solid white;

    & img{
        position: relative;
        top:64px;
        left: 169px;
        
    }
    & div{
        position: relative;
        top: 64px;
        left: 115px;

        & h3{
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        & ul{
            list-style: none;
            line-height: 33px;

          & a{
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            color: #FFFFFF;

          }
        }
    }
}

.footer{
    background-color: #000000;

    & p{
    width: 1417px;
    height: 100px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    left: 242px;
    }

}

